# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
.vscode/*
!.vscode/*.example

/local
/temp
/.task
**.tar.gz
**.sha256
**.zip
/dist
/public
/logs
scafctl.log
scafctl.exe~
/modules
/env
**/ca-key.pem
**/ca.pem
**/key.pem
**/cert.pem
**.log.gz

# Hugo
/public/
/resources/_gen/
.hugo_build.lock
.venv/
.DS_Store
__debug*
refs/